<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div>
                    <% if(errorMessage.length) { %>
                        <span style="display: block; padding: 10px; background-color: rgba(250, 12, 12, 0.493); color: white; text-align: center;">
                            <%= errorMessage %>
                        </span>
                        <% } %>
                </div>
                <form class="login-form" action="/new-password" method="POST">
                    <div class="form-control">
                        <label for="email">New Password</label>
                        <input type="password" name="password" id="pass" />
                        <input type="hidden" name="userId" id="pass" value="<%= userId %>" />
                        <input type="hidden" name="passwordToken" id="pass" value="<%= passwordToken %>" />
                    </div>
                    <input type="hidden"  name="_csrf" value="<%= csrfToken %>" />
                            <button class="btn" type="submit">Update Password </button>
                </form>
            </main>
            <%- include('../includes/end.ejs') %>